.heroArea__wrapper {
  background: url("../../../images/hero.jpg") no-repeat center center;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 100px 0;
  .heroArea_left_side {
    display: flex;
    align-items: center;
    h3 {
      font-weight: bold;
      font-size: 50px;
      margin-bottom: 25px;
      line-height: 1.2;
      color: #ffffff;
    }
    h6 {
      font-size: 16px;
      color: #fff;
    }
    .palyButton__wrapper {
      display: flex;
      align-items: center;
      margin-top: 20px;
      font-weight: bold;
      font-size: 19px !important;
      color: #fff;
      cursor: pointer;
      span {
        .playButton {
          font-size: 64px;
          margin-right: 15px;
        }
      }
    }
  }
  .heroArea_right_side {
    .Card_wrapper {
      background: rgba(0, 0, 0, 0.5) !important;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      cursor: pointer;
      border-radius: 6px !important;
      transition: all 1s ease;
      &:hover {
        background: #0385c28c !important;
        transform: translateY(-5px);
      }
      span {
        svg.MuiSvgIcon-root {
          font-size: 40px;
          margin-bottom: 10px;
        }
      }
      h6 {
        text-align: center;
      }
    }
  }
}
